

.hero{
    background: lightseagreen;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .hero .profile-pic {
    width: 150px;
    border-radius: 100%;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 30px -12px black;
  }
  
  footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: black;
    color: white;
  }
  
  footer p {
    margin: 0;
    padding: 0;
  }

  .backgroundBody {
    background-image: url("../assets/images/papyrus.jpg");
    min-height: 90vh;
    height:100%;
  }
  .card-body {
      background-color: lightseagreen;
  }
#contactName {
    color: lightseagreen;
}
